div#main-app-searchwidget {
  display: flex;
}

div#main-app-searchwidget div#searchbar-container {
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin: 1%;
}

div#main-app-searchwidget section#watchlist {
  overflow-y: scroll;
  margin: 1%;
}

input[type=text],
select,
textarea {
  font-size: 4em;
  border: none;
  box-sizing: border-box;
  outline: none;
  resize: vertical;
  border-bottom: .1em solid gainsboro;
}
