div#main-app-searchwidget {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
}

div#main-app-searchwidget {
  height: 12.5vh;
}

div#searchbar-container {
  width: 50vw;
  /* padding-top: 5vh;
  padding-bottom: 5vh;
  margin: 1%; */
}
div#watchlist {
  width: 47vw;
  height: 12.25vh;
  margin: none;
  overflow-y: scroll;
}

input[type=text],
select,
textarea {
  font-size: 3em;
  width: 50vw;
  height: 12.25vh;
  border: none;
  box-sizing: border-box;
  outline: none;
  resize: vertical;
  border-bottom: .1em solid gainsboro;
}
