ol {
  display: flex;
  height: 12.5vh;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  font-size: 1.25em;
  box-sizing: border-box;
  color: gainsboro;
  margin: .2em;
  padding: .2em;
}
